/* Trying out css reset */

*{
  margin:0;
  padding:0;
}
/* Colour variables */
:root{
  --main-text:hsl(243, 100%, 93%);
  --warning-text:hsl(229, 7%, 55%);
  --primary:hsl(228, 56%, 26%);
  --accent:hsl(229, 57%, 11%);
}
body{
  background:url(images/bg-mobile.png)no-repeat var(--primary);
  color: var(--main-text);
  font-family: 'Raleway', sans-serif;
  padding: 5rem 1rem;
  text-align: center;
}


main{
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin:auto;
}

section{
  background-color: var(--primary);
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 2rem 1rem;
}
.curve-box{
  border-radius: 0.5rem 5rem 0.5rem 0.5rem;
  text-align: left;
}
.logo{
  padding-left: 0.7rem;
}
.icon{
  background-color: var(--accent);
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 5%;
}

.gb-used{
  font-weight: 700;
}

.slider {
  -webkit-appearance: none;
  background: var(--accent);
  border-radius:5rem;
  height: 1rem;
  margin: 1rem;
  outline: solid black;
  overflow: hidden;
  width: 80%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius:5rem;
  box-shadow: -10rem 0 0 10rem hsl(6, 100%, 80%);
  /* horizontal position vertical position blur spread in all directions colour (inset) */
  width: 1rem;
  height: 1rem;
  background: white;
  cursor: pointer;
}

.slider-container{
  display: flex;
}
.warning{
  align-self: center;
  background-color: white;
  color: var(--warning-text);
  font-weight: 700;
  margin-top: -3rem;
}

.gb-left{
  color: var(--accent);
  font-size: 2rem;
}
/* slider

Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)
background: linear-gradient(90deg, #ffa399, #ff918e, #ff8389, #ff7889, #ff6e8a, #ff638d, #ff5891, #ff4d97);

/* Styling for larger screen sizes */
@media (min-width:64rem) {
  body{
  background:url(images/bg-desktop.png) no-repeat var(--accent);
background-attachment: fixed;
  background-position: bottom;
  }
}
