/* Trying out css reset */

*{
  margin:0;
  padding:0;
}
/* Colour variables */
:root{
  --main-text:hsl(243, 100%, 93%);
  --warning-text:hsl(229, 7%, 55%);
  --primary:hsl(228, 56%, 26%);
  --accent:hsl(229, 57%, 11%);
}
body{
  background:url(images/bg-mobile.png)no-repeat var(--accent);
  background-size: cover;
  color: var(--main-text);
  font-family: 'Raleway', sans-serif;
  padding: 5rem 1rem;
  text-align: center;
}


main{
  display: grid;
  max-width: 30rem;
  margin:auto;
}

section{
  background-color: var(--primary);
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 2rem 1rem;
}
.curve-box{
  border-radius: 0.5rem 5rem 0.5rem 0.5rem;
  text-align: left;
}
.logo{
  padding-left: 0.7rem;
}
.icon{
  background-color: var(--accent);
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 5%;
}

.gb-used{
  font-weight: 700;
}

.slider {
  -webkit-appearance: none;
  background: var(--accent);
  border-radius:5rem;
  height: 1rem;
  margin: 1rem;
  outline: solid black;
  overflow: hidden;
  width: 80%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius:5rem;
  box-shadow: -12rem 0 0 12rem hsl(6, 100%, 80%);
  /* box shadow property order: horizontal position vertical position blur spread in all directions colour (inset) */
  width: 1rem;
  height: 1rem;
  background: white;
  cursor: pointer;
}

.warning{
  background-color: white;
  color: var(--warning-text);
  font-weight: 700;
  justify-self:center;
  margin-top: -1.5rem;
  max-width: fit-content;
}

.gb-left{
  color: var(--accent);
  font-size: 2rem;
}


/* slider gradient

Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)
background: linear-gradient(90deg, #ffa399, #ff918e, #ff8389, #ff7889, #ff6e8a, #ff638d, #ff5891, #ff4d97);

/* Styling for larger screen sizes */
@media (min-width:69.5rem) {
  body{
  background:url(images/bg-desktop.png) no-repeat var(--accent);
  background-attachment: fixed;
  background-position: bottom;
  text-align: left;
  }

/* Positioning */
main {
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 1rem;
grid-row-gap: 1rem;
max-width: none;
}

.curve-box { grid-area: 2 / 2 / 4 / 3; }
.storage-summary { grid-area: 2 / 3 / 4 / 5; }
.usage{
  margin-left: 1rem;
}
  .warning{
    background-color: white;
    border: 0.5rem solid white;
    border-radius: 1rem;
    color: var(--warning-text);
    font-weight: 700;
    grid-area: 1 / 4 / 2 / 4;
    position: relative;
    text-align: center;

  }
/* Speech bubble shape */
  .warning:before {
    border: 1.5rem solid;
    border-color:  white white transparent transparent;
    content: ' ';
    height: 0;
    left: 7.1rem;
    position: absolute;
    top: 6rem;
    width: 0;
  }

}
