/* Trying out css reset */

*{
  margin:0;
  padding:0;
}
/* Colour variables */
:root{
  --main-text:hsl(243, 100%, 93%);
  --warning-text:hsl(229, 7%, 55%);
  --primary:hsl(228, 56%, 26%);
  --accent:hsl(229, 57%, 11%);
}
body{
  background-color: var(--warning-text);
  color: var(--main-text);
  font-family: 'Raleway', sans-serif;
}
section{
  background-color: var(--primary)
}

main{
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin:auto;
}
.warning{
  background-color: white;
  color: var(--warning-text);
}
.gb-left{
  color: var(--accent);
}
/* slider

Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

/* Styling for larger screen sizes */
