
:root{
  --main-text:hsl(243, 100%, 93%);
  --warning-text:hsl(229, 7%, 55%);
  --primary:hsl(228, 56%, 26%);
  --accent:hsl(229, 57%, 11%);
}
body{
  background-color: var(--primary);
}


/* ## Colors


- Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)


### Font

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700 */
