/* Trying out css reset */

*{
  margin:0;
  padding:0;
}
/* Colour variables */
:root{
  --main-text:hsl(243, 100%, 93%);
  --warning-text:hsl(229, 7%, 55%);
  --primary:hsl(228, 56%, 26%);
  --accent:hsl(229, 57%, 11%);
}
body{
  background-color: var(--warning-text);
  color: var(--main-text);
  font-family: 'Raleway', sans-serif;
  padding: 5rem 1rem;
  text-align: center;
}


main{
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin:auto;
}

section{
  background-color: var(--primary);
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 2rem 1rem;
}
.curve-box{
  border-radius: 0.5rem 5rem 0.5rem 0.5rem;  
}
.icon{
  background-color: var(--accent);
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 5%;
}

.warning{
  background-color: white;
  color: var(--warning-text);
}
.gb-used{
  font-weight: 700;
}
.gb-left{
  color: var(--accent);
  font-weight: 700;
}
/* slider

Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

/* Styling for larger screen sizes */
